.Foreground {
    position: fixed;
}

.BGImage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.topBar {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
    min-height: 10vh;
    max-height: 20vh;
    font-size: xx-large;
}