.foreground {
    position: fixed;
}

.backgroundimage {
    min-width: 100vw;
    min-height: 100%;

    z-index: -1000;
}

.topbar {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
    min-height: 10vh;
    max-height: 20vh;
    font-size: xx-large;
}

.sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 10vh;
    bottom: 10vh;
    right: 90%;
    left: 0;

    background-color: green;

    z-index: 0;
}

.card {
    background-color: blueviolet;

    

    z-index: 1;
}